.header{
  background: #0c54a0;
  background: linear-gradient(88deg,#0c54a0 0%, #00a0e3 50%);
}

.title{
  color: #fff;
  max-width: 50%;
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  padding-bottom: 0.5rem;
}

.title ul{
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
}

.container{
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}


@media (max-width: 991.98px){
  .title{
    max-width: 70%;
  }
}
@media (max-width: 767.98px){
  .title{
    max-width: 100%;
  }
}
@media (max-width: 575.98px){
  .title{
    font-size: 35px;
    max-width: 100%;
    text-align: center;
  }
}